<div class="modal-body">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-keyboard-o"></i>
			<span class="p-l-1">{{'Keyboard shortcuts'|translate}}</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>

	<div class="modal-content">
		<table class="shortcut-table">
			<tr>
				<th></th>
				<th style="text-align: left;">{{'Description'|translate}}</th>
			</tr>
			<tr>
				<td style="text-align: right;"><span class="label label-info">ESC</span></td>
				<td>{{'Exit fullscreen edit/view mode, close search or any editor view'|translate}}</td>
			</tr>
			<tr>
				<td><span class="label label-info">F</span></td>
				<td>{{'Open dashboard search view'|translate}}</td>
			</tr>
			<tr>
				<td><span class="label label-info">R</span></td>
				<td>{{'Refresh'|translate}}</td>
			</tr>
			<tr>
				<td><span class="label label-info">left arrow key</span></td>
				<td>{{'Shift time backward'|translate}}</td>
			</tr>
			<tr>
				<td><span class="label label-info">right arrow key</span></td>
				<td>{{'Shift time forward'|translate}}</td>
			</tr>
			<tr>
				<td><span class="label label-info">CTRL+S</span></td>
				<td>{{'Save'|translate}} dashboard</td>
			</tr>
			<tr>
				<td><span class="label label-info">CTRL+H</span></td>
				<td>{{'Hide or Show controls'|translate}}</td>
			</tr>
			<tr>
				<td><span class="label label-info">CTRL+Z</span></td>
				<td>{{'Zoom out'|translate}}</td>
			</tr>
			<tr>
				<td><span class="label label-info">CTRL+I</span></td>
				<td>{{'Snapshot'|translate}}</td>
			</tr>
			<tr>
				<td><span class="label label-info">CTRL+O</span></td>
				<td>{{'Enable'|translate}}/{{'Disable'|translate}} {{'Shared Crosshair'|translate}}</td>
			</tr>
		</table>
	</div>

</div>

