<navbar icon="fa fa-fw fa-cogs" title="Admin" title-url="admin">
</navbar>

<div class="page-container">
	<div class="page-header">
		<h1>
			{{'Server Administration'|translate}}
		</h1>
	</div>

	<a class="btn btn-inverse" href="admin/users">
		{{'Manage Users'|translate}}
	</a>

	<a class="btn btn-inverse" href="admin/orgs">
		{{'Manage Organizations'|translate}}
	</a>

	<a class="btn btn-inverse" href="admin/settings">
		{{'View Server Settings'|translate}}
	</a>

	<a class="btn btn-inverse" href="admin/stats">
		{{'View Server Stats'|translate}}
	</a>

	<a class="btn btn-inverse" href="styleguide">
	  {{'Style guide'|translate}}
	</a>

</div>

