<navbar icon="fa fa-fw fa-cogs" title="Admin" title-url="admin">
</navbar>

<div class="page-container">
	<div class="page-header">
		<h1>{{'Stats'|translate}}</h1>
	</div>

	<table class="filter-table form-inline">
		<thead>
			<tr>
				<th>{{'Name'|translate}}</th>
				<th>{{'Value'|translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{'Total dashboards'|translate}}</td>
				<td>{{ctrl.stats.dashboard_count}}</td>
			</tr>
			<tr>
				<td>{{'Total users'|translate}}</td>
				<td>{{ctrl.stats.user_count}}</td>
			</tr>
			<tr>
				<td>{{'Total organizations'|translate}}</td>
				<td>{{ctrl.stats.org_count}}</td>
			</tr>
			<tr>
				<td>{{'Total datasources'|translate}}</td>
				<td>{{ctrl.stats.data_source_count}}</td>
			</tr>
			<tr>
				<td>{{'Total playlists'|translate}}</td>
				<td>{{ctrl.stats.playlist_count}}</td>
			</tr>
			<tr>
				<td>{{'Total snapshots'|translate}}</td>
				<td>{{ctrl.stats.db_snapshot_count}}</td>
			</tr>
			<tr>
				<td>{{'Total dashboard tags'|translate}}</td>
				<td>{{ctrl.stats.db_tag_count}}</td>
			</tr>
			<tr>
				<td>{{'Total starred dashboards'|translate}}</td>
				<td>{{ctrl.stats.starred_db_count}}</td>
			</tr>
		</tbody>
	</table>
</div>
