<div class="modal-body">

	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-upload"></i>
			<span class="p-l-1">{{'Import Dashboard'|translate}}</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>

	<div class="modal-content" ng-cloak>
		<div ng-if="ctrl.step === 1">

      <h5 class="section-heading">{{'JSON FILE'|translate}}</h5>
			<form class="gf-form-group">
				<dash-upload on-upload="ctrl.onUpload(dash)"></dash-upload>
			</form>

      <h5 class="section-heading">{{'JSON TEXT'|translate}}</h5>

			<div class="gf-form-group">
				<div class="gf-form">
					<textarea rows="7" data-share-panel-url="" class="gf-form-input" ng-ctrl="ctrl.jsonText"></textarea>
				</div>
				<button type="button" class="btn btn-secondary" ng-click="ctrl.loadJsonText()">
					<i class="fa fa-paste"></i>
          {{'Load'|translate}}
				</button>
				<span ng-if="ctrl.parseError" class="text-error p-l-1">
					<i class="fa fa-warning"></i>
					{{ctrl.parseError}}
				</span>
			</div>
		</div>
  </div>
</div>

