<navbar>

<a class="pointer navbar-page-btn" ng-if="contextSrv.isGrafanaAdmin && !dashboardMeta.isSnapshot" ng-click="openSearch()">
	<i class="icon-gf icon-gf-dashboard"></i>
	<span>{{dashboard.title}}</span>
	<i class="fa fa-caret-down"></i>
</a>

<a class="pointer navbar-page-btn" ng-if="contextSrv.isGrafanaAdmin && dashboardMeta.isSnapshot" bs-tooltip="titleTooltip" data-placement="bottom" ng-click="openSearch()">
	<i class="icon-gf icon-gf-snapshot"></i>
	<span>
		{{dashboard.title}}
		<em class="small">&nbsp;&nbsp;({{'Snapshot'|translate}})</em>
	</span>
</a>

<ul class="nav pull-left dashnav-action-icons">
	<li ng-if="contextSrv.isGrafanaAdmin && dashboardMeta.canStar">
		<a class="pointer" ng-click="starDashboard()">
			<i class="fa" ng-class="{'fa-star-o': !dashboardMeta.isStarred, 'fa-star': dashboardMeta.isStarred}" style="color: orange;"></i>
		</a>
	</li>
	<li ng-if="contextSrv.isGrafanaAdmin && dashboardMeta.canShare" class="dropdown">
		<a class="pointer" ng-click="hideTooltip($event)" bs-tooltip="'共享主页'" data-placement="bottom" data-toggle="dropdown"><i class="fa fa-share-square-o"></i></a>
		<ul class="dropdown-menu">
			<li>
				<a class="pointer" ng-click="shareDashboard(0)">
					<i class="fa fa-link"></i>{{'Link to Dashboard'|translate}}
				</a>
			</li>
			<li>
				<a class="pointer" ng-click="shareDashboard(1)">
					<i class="icon-gf icon-gf-snapshot"></i>{{'Snapshot'|translate}}
				</a>
			</li>
      <li>
				<a class="pointer" ng-click="shareDashboard(2)">
					<i class="fa fa-cloud-upload"></i>{{'Export'|translate}}
				</a>
			</li>
		</ul>
	</li>
	<li ng-show="::dashboardMeta.canSave">
		<a ng-click="saveDashboard()" bs-tooltip="'保存主页'" data-placement="bottom"><i class="fa fa-save"></i></a>
	</li>
  <li ng-if="contextSrv.isGrafanaAdmin || dashboardMeta.canEdit">
		<a ng-click="openEditView('settings');" bs-tooltip="'编辑主页'" data-placement="bottom"><i class="fa fa-edit"></i></a>
	</li>
  <li ng-if="contextSrv.isGrafanaAdmin || dashboardMeta.canEdit">
		<a ng-click="viewJson();" bs-tooltip="'JSON视图'" data-placement="bottom"><i class="fa fa-eye"></i></a>
	</li>
    <li ng-if="contextSrv.isGrafanaAdmin && dashboardMeta.canEdit">
		<a ng-click="openEditView('annotations');" bs-tooltip="'主页注解'" data-placement="bottom"><i class="fa fa-info-circle"></i></a>
	</li>
  <li ng-if="contextSrv.isGrafanaAdmin && dashboardMeta.canEdit">
		<a ng-click="saveDashboardAs();" bs-tooltip="'主页另存为'" data-placement="bottom"><i class="fa fa-save"></i></a>
	</li>
  <li ng-if="contextSrv.isGrafanaAdmin && dashboardMeta.canSave">
		<a ng-click="deleteDashboard();" bs-tooltip="'删除主页'" data-placement="bottom"><i class="fa fa-trash"></i></a>
	</li>
  <li ng-if="contextSrv.isGrafanaAdmin && dashboardMeta.canEdit">
		<a ng-click="openEditView('templating');" bs-tooltip="'模板'" data-placement="bottom"><i class="fa fa-building"></i></a>
	</li>
	<li ng-if="dashboard.snapshot.originalUrl">
		<a ng-href="{{dashboard.snapshot.originalUrl}}" bs-tooltip="'打开原始主页'" data-placement="bottom"><i class="fa fa-link"></i></a>
	</li>
  <li ng-if="contextSrv.isGrafanaAdmin || dashboardMeta.canEdit">
		<a ng-click="hideDashboardControls();" bs-tooltip="'显示/隐藏主页侧边窗'" data-placement="bottom"><i class="fa fa-sliders"></i></a>
	</li>
</ul>

<ul class="nav dash-playlist-actions" ng-if="playlistSrv">
	<li>
		<a ng-click="playlistSrv.prev()"><i class="fa fa-step-backward"></i></a>
	</li>
	<li>
		<a ng-click="playlistSrv.stop()"><i class="fa fa-stop"></i></a>
	</li>
	<li>
		<a ng-click="playlistSrv.next()"><i class="fa fa-step-forward"></i></a>
	</li>
</ul>

<ul class="nav pull-right">
	<li ng-show="dashboard.meta.fullscreen" class="dashnav-back-to-dashboard">
		<a ng-click="exitFullscreen()">
			{{'Back to dashboard'|translate}}
		</a>
	</li>
	<li ng-if="dashboard">
		<gf-time-picker dashboard="dashboard"></gf-time-picker>
	</li>
</ul>

</navbar>
