<navbar icon="icon-gf icon-gf-users" title="用户组" title-url="org">
</navbar>

<div class="page-container">
	<div class="page-header">
		<h1>{{'Org Preferences'|translate}}</h1>
	</div>

	<h3 class="page-heading">{{'General'|translate}}</h3>
	<form name="orgForm" class="gf-form-group">
		<div class="gf-form-inline">
			<div class="gf-form max-width-28">
				<span class="gf-form-label width-6">{{'Name'|translate}}</span>
				<input class="gf-form-input" type="text" required ng-model="org.name">
			</div>
			<div class="gf-form">
				<button type="submit" class="btn gf-form-btn btn-success" ng-click="update()">{{'Update'|translate}}</button>
			</div>
		</div>
	</form>

	<prefs-control mode="org"></prefs-control>

	<h3 class="page-heading">{{'Address'|translate}}</h3>

	<form name="addressForm" class="gf-form-group">
		<div class="gf-form-inline">
			<div class="gf-form max-width-28">
				<span class="gf-form-label width-7">{{'Address'|translate}}1</span>
				<input class="gf-form-input" type="text" ng-model="address.address1">
			</div>
			<div class="gf-form max-width-28">
				<span class="gf-form-label width-7">{{'Address'|translate}}2</span>
				<input class="gf-form-input" type="text" ng-model="address.address2">
			</div>
		</div>

		<div class="gf-form-inline">
			<div class="gf-form max-width-28">
				<span class="gf-form-label width-7">{{'City'|translate}}</span>
				<input class="gf-form-input" type="text" ng-model="address.city">
			</div>
			<div class="gf-form max-width-28">
				<span class="gf-form-label width-7">{{'Postal code'|translate}}</span>
				<input class="gf-form-input" type="text" ng-model="address.zipCode">
			</div>
		</div>

		<div class="gf-form-inline">
			<div class="gf-form max-width-28">
				<span class="gf-form-label width-7">{{'State'|translate}}</span>
				<input class="gf-form-input" type="text" ng-model="address.state">
			</div>
			<div class="gf-form max-width-28">
				<span class="gf-form-label width-7">{{'Country'|translate}}</span>
				<input class="gf-form-input" type="text" ng-model="address.country">
			</div>
		</div>

		<div class="gf-form-button-row">
			<button type="submit" class="btn btn-success" ng-click="updateAddress()">{{'Update'|translate}}</button>
		</div>
	</form>

	<h3 class="page-heading">{{'Admin Pages'|translate}}</h3>
	<div class="gf-form-group">
		<div class="gf-form-inline">
			<div class="gf-form">
				<a href="org/users" class="btn gf-form-btn btn-inverse">{{'Users'|translate}} &amp; {{'Role'|translate}}</a>
			</div>
			<div class="gf-form">
			<a href="org/apikeys" class="btn gf-form-btn btn-inverse">API Keys</a>
		</div>
	</div>
</div>


